body{
    text-align: center;
    background-color: aqua;
}

td{
    width: 5px;
    height:5px;
    border:1px solid blue;
}
table{
    width:500px;
    height: 500px;
    margin: auto;
}
.selected{
     background-color: gray;
}
.hints{
    background-color: blue;
}
.position{
    display: inline block;
    margin: auto;
}
.safeclick{
    background-color: burlywood;
}